{% set adminMenuActiveRoute = app.request.attributes.get('_route') %}

<div class="card mb-5">
    <div class="card-header">
        <div class="row">
            <h5> {{ 'Admin Menu' | trans}} </h5>
        </div>

    </div>
    <div class="card-body">
        <div class="list-group list-group-flush">
            {% for r, itm in items %}
                <a class="list-group-item list-group-item-action
                    {{ adminMenuActiveRoute != 'app_page_main' and
                itm.route in adminMenuActiveRoute ? 'active' }}"
                   href="{{ path(itm.route) }}">{{ itm.title }}</a>
            {% endfor %}

        </div>
    </div>
</div>

