{% extends 'base.html.twig' %}

{% block title %}Menu Admin{% endblock %}

{% block h1 %}Menu Admin{% endblock %}

{% block breadcrumb %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{% trans %} Home {% endtrans %} </a></li>
            <li class="breadcrumb-item active" aria-current="page">
                {% trans %} Menu items {% endtrans %} </li>
        </ol>
    </nav>
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-12">
        {% include 'menu_admin/tree_block.html.twig' %}
    </div>
</div>

{% endblock %}