
{% for item in items %}
    {% if loop.first %}
        {% set firstItem = item %}
            <div class="card mb-2">
                <div class="card-header">
                    <div class="row">
                        <h5>{% include 'menu/menu_link.html.twig' %}</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <ul class="list-group list-group-flush">
                        {% else %}
                            <li class="list-group-item">
                                {% if item.path is not empty and request.attributes.get('slug') == item.path %}
                                    <li class="list-group-item active">{{ item.name }}</li>
                                {% else %}
                                    {% for i in 1..(item.lvl - firstItem.lvl) %}
                                        {% if loop.first == false %}&nbsp;&nbsp;{% endif %}
                                    {% endfor %}
                                    {% include 'menu/menu_link.html.twig' %}
                                {% endif %}
                            </li>
                            {% endif %}
                    {% if loop.last%}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}

