<div class="card mt-3">
    <div class="card-body">
        <div class="row">
            <div class="col-9">
                {% if back_to_list_path is defined %}
                    <div class="back-to-list-bottom-button">
                        <a href="{{ back_to_list_path }}">Back to list</a>
                    </div>
                {% endif %}
            </div>
            <div class="col-3">
                <div class="row text-right">

                    <div class="col-6 text-right">
                        {% if delete_form_file_name is defined %}
                            {{ include(delete_form_file_name) }}
                        {% endif %}
                    </div>
                    <div class="col-6">
                        <button class="btn btn-primary" form="page-form">{{ button_label|default('Save') }}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
