<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

        {% endblock %}
    </head>
    <body>

    <div class="container centered-block">

        <!-- Горизонтальное меню -->
        <div class="horizontal-menu">
            <a href="#">Главная</a>
            <a href="#">О нас</a>
            <a href="#">Контакты</a>
        </div>

        <!-- Вертикальное древовидное меню -->
        <div class="vertical-menu">
            <a href="#">Пункт 1</a>
            <a href="#">Пункт 2</a>
            <a href="#">Пункт 3</a>
            <a href="#">Пункт 4</a>
        </div>

        <!-- Баннер -->


        <!-- Контентная часть -->
        <div class="content">
            <div class="banner centered-block">
                <h2>Здесь ваш баннер</h2>
            </div>
            <h2>Контентная часть</h2>
            <p>Здесь может быть ваш контент</p>
            {% block body %}{% endblock %}
        </div>

        <!-- Футер -->
        <div class="footer">
            <p>Здесь ваш футер</p>
        </div>

    </div>

    </body>
</html>
