{% if items is not empty %}
    <ul class="nav col-md-4 justify-content-end">
        {% for item in items %}
        <li class="nav-item">{{ include ('menu/menu_link.html.twig', {linkClass: 'nav-link px-2 text-body-secondary'}) }} </li>
        {% endfor %}
    </ul>
{% endif %}