{% for item in items %}

    {% if item.menu is defined %}
    {% if loop.first %}
        {% set firstItem = item.menu %}
            <div class="card1 mb-2">
                <div class="card-header1">
                    <div class="row">
                        <h5>{% include 'menu/menu_link.html.twig' %}</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <ul class="list-group list-group-flush">
    {% else %}
        <li class="list-group-item">
            {% if item.menu.path is not empty and request.attributes.get('slug') == item.menu.path %}
                <li class="list-group-item active">{{ item.menu.name }}</li>
            {% else %}
                <span style="padding-left: {{ loop.index > 2 ? item.menu.lvl * 10 }}px;">
                     {% include 'menu/menu_link.html.twig' %}
                </span>
            {% endif %}
        </li>
        {% endif %}
{% if loop.last%}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
{% endfor %}

