{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

    <h1>Security</h1>
    {{ include('user/tabs.html.twig', ({items: [
        {'route' : 'app_user_profile', 'params': {'id': user.id}, 'title': 'Default'},
        {'route' : 'app_user_profile_change_password', 'params': {'id': user.id}, 'title': 'Security'},

    ]})) }}

    {{ include('user/_form.html.twig') }}



    {{ include('elements/form_bottom_buttons.html.twig',{
        'form_id': 'change-password-form',
        'delete_form_file_name' : 'user_admin/_delete_form.html.twig',
        'button_label' : 'Change'
    }
    ) }}


{% endblock %}
