
{% set activeRoute = app.request.attributes.get('_route') %}
<ul class="nav">
    {% for r, itm in items %}

        <li class="nav-item">
            {% if activeRoute != itm.route %}
                <a class="nav-link"  aria-current="page"
                   href="{{ path(itm.route, itm.params) }}">{{ itm.title }}</a>
            {% else %}
                <p class="nav-link "><strong>{{ itm.title }}</strong></p>

            {% endif %}

        </li>
    {% endfor %}

</ul>
<hr>